*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

.topImage{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 5px;
}
.navbar{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.navItem{
    margin:8px 10px;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
}
 
#loginBtn{
    color: blue;
    background: white;
    font-weight:600;
    cursor: pointer;
    border: none;
}
#search {
    width: 300px;
}

header{
    position: sticky;
    width: 100%;
    top: 0;
}
.cart{
    position: relative;
}
.cartAmount{
    position: absolute;
    top: 4px;
    left: 38px;
    background-color: red;
    padding: 0 3px;
    border-radius: 3px;
    color:white;
}
.parentForBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}
.topBox{
    cursor: pointer;
}
.topImage img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
    gap: 10px;
}
.item{
    padding: 4%;
}
.item:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 20px;
}
.details{
    padding: 4%;
}
.details p{
    width: 250px;
}
.amountAndAddtoCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addToCart{
    background-color:#ff9f00 ;
    color: white;
    border-radius: 3px;
    padding: 2%;
    cursor: pointer;
    border: none;
}
.addToCart:hover{
    background-color: #f8c26b;
}
.addToCart:active{
    scale: 0.9;
    transition: 0.4s;
}
.hide{
    display: none;
}
/* Footer */
.gridParent{
    color: white;
    background-color:#172337;
    margin: 2% 0 0 0;
    display: grid;
    padding: 30px;
    font-size: 11px;
    grid-template-columns: 15% 15% 15% 11% 22% 22%;
    justify-content: center;
}
.column p{
    padding: 8px 0;
}
.column span{
    display: block;
    padding: 0 0 20px 0;
    color: #878787;
}
.column.mail{
    padding-left: 30px;
    border-left:1px solid white;
}
.navigationBtn p{
    cursor: pointer;
}
.navigationBtn p:hover{
    text-decoration: underline;
}


@media (max-width:680px){
    .gridParent{
        grid-template-columns: repeat(4,25%);
        padding: 20px;
    }
    #mail{
        border-right: none;
        padding-top: 5%;
        display: block;
        width: 100%;
    }
    #adress{
        padding-top: 5%;
        display: block;
        width: 250%;
    }
    .item {
        width: 70%;
        margin: 0 auto;
    }
}
@media (max-width:612px){
    .parentForBox{
        width: 80%;
    }
    #loginBtn{
        display: none;
    }
    #search{
        width: 200px;
    }
}
@media (max-width:500px){
    .item{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
